.masonry-layout {
  padding: 9rem 0rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 0;
}

.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .masonry-layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) and (max-width: 1439px) {
  .masonry-layout {
    padding: 10rem 0rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .masonry-item {
    margin-bottom: 1rem;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .masonry-layout {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1800px;
    margin: 0 auto;
    padding: 10rem 0rem 2rem;
    column-gap: 2rem;
    gap: 2rem;
  }
} 