<nav class="nav">
    <button class="nav-toggle" aria-label="Toggle Navigation">
        <span class="nav-line"></span>
    </button>
</nav>

<div class="mobile-menu">
    <nav class="menu-content container">
        <ul class="menu-list type-body">
            <li><a href="index.html">Home</a></li>
            <li><a href="landscape.html">Landscape</a></li>
            <li><a href="lifestyle.html">Lifestyle</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
        <button class="mode-toggle type-body">Mode</button>
    </nav>
</div> 